.Answer-Container{
  width: 593px;
  height: fit-content;
  overflow: hidden;
}
.question{
  font-weight: 600;
  font-size: 18px;
  color: rgba(0,0,0,.9);
}
.Answer-seller-container{
  display: flex;
  justify-content: start;
  
}
.answer{
  word-break: break-word;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0,0,0,.55);
}
.item-icon{
  margin-right: 8px;
    overflow: visible;
    fill: rgba(0,0,0,.25);
    width: 12px;
    height: 12px;
    font-size: 16px;
}
