.buttons-container{
  width: 718px;
  height: 50px ;
  display: flex;
  border-bottom: 1px solid #e5e5e5;
}
.btn-style{
  width: 33%;
  height: 48px;
  background: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.btn-style:hover{
  color: #3483fa;
}

.btn-selected {
  width: 33%;
  height: 48px;
  background: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: #3483fa;
  border-bottom: 3px solid #3483fa;
}
.opinions-container{
  margin-top: 20px;
  width: 718px;
  max-height: 555px;
  display: flex;
  justify-content: center;
}