.what-would-uLike-container{
  width: fit-content;
  height: 32px;
  display: inline-block;
  margin-right: 12px;
  margin-top: 12px;
  background: #e3edfb;
  border-radius: 5px;
  cursor: pointer;
}
.text-card-container{
  color: #3483fa;
  font-size: 14px;
  line-height: 32px;
  padding: 0 12px;
}