.cardQuestionsContainer{
  width: 718px;
  max-height:635px;

}
.title{
  color: rgba(0,0,0,.9);
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  margin-top: 10px;
  margin-bottom: 4px;
  margin-left: 10px;
  
}

.textTitle{
  font-size: 16px;
  margin-left: 10px
}
.iconContainer{
  display: flex;
  align-content: center;
  justify-content: flex-start;
}

.Counter{
  margin-left: 3px;
  margin-top: -3px;
  
}
.iconActive{
  color: red;
}
.iconNormalDislike{
  margin-top: 1px;
  padding: 0px;
  font-size: 16px;
}
.iconNormal{
  margin: 0px;
  padding: 0px;
  font-size: 16px;

}