.iconContainerStock {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

.iconContainerStockActive {
    transition: transform 0.3s ease-in-out;
    transform: rotate(-180);
}