.container,
.containerSelected {
    width: 100%;
    height: 50px;
    display: flex !important;
    padding: 20px;
    gap: 5px;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.containerSelected::before {
    border-left: 0.1em solid #3483fa;
    border-radius: 1.5px;
    content: "";
    position: absolute;
    height: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    bottom: auto;
    top: 50%; /* Position it in the middle vertically */
    transform: translateY(-50%); /* Center vertically */
    left: 2px;
    display: block; /* Show the ::before only for .containerSelected */
}

.unitSelected {
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #222324 !important;
}

.unit {
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #3483fa !important;
}

.container:hover {
    background-color: rgba(0, 0, 0, .04);
}
