.container{
    width: 100%;
    height: 50px;
    display: flex !important;
    padding: 20px;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}
.container::before{
    border-left: 0.1em solid #3483fa;
    border-radius: 1.5px;
    bottom: 2px;
    content: "";
    top: 12px;
    left: 2px;
    position: absolute;
    height: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    margin: 0;

}
.unit{
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #3483fa !important;
}
.unitSelected{
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #222324 !important;
}
.container:hover{
    background-color: rgba(0,0,0,.04);
}